
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffe6f0;
    color: #333;
    margin: 0;
    padding: 20px;
}

h2 {
    color: #ff1493; 
    border-bottom: 2px solid #ff69b4; 
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h3 {
    color: #ff69b4; 
}

p, ul {
    color: #555;
    font-size: 1rem;
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
}

ul li {
    margin-bottom: 10px;
}

strong {
    color: #ff1493; 
}

a {
    color: #ff69b4;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ff1493;
    text-decoration: underline;
}


footer {
    background-color: #ffccdd;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #ff69b4;
}

footer h2, footer h3 {
    color: #ff1493;
    margin: 5px 0;
}

footer p {
    margin-top: 15px;
    color: #ff1493;
}


footer a {
    color: #ff69b4;
}

footer a:hover {
    color: #ff1493;
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    h2 {
        font-size: 1.8rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    p {
        font-size: 0.9rem;
    }
}
